<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>doctor_schedule</title>
    <link rel="stylesheet" type="css" href="../style.css">

    <script>
        function goToDoctorData(){
            window.location.href = 'doctor_dt';
        }
    </script>
</head>
<body>
    <button onclick="goToDoctorData()">의사 등록</button>

    <br>

    <form method="POST">
        <label>Doctor_id :</label>
        <label for="doctor_id">
            <input type="radio" name="doctor_id" value="D1V2W3">D1V2W3
        </label>
        <label for="doctor_id">
            <input type="radio" name="doctor_id" value="D4S5T6">D4S5T6
        </label>
        <label for="doctor_id">
            <input type="radio" name="doctor_id" value="D7J8K9">D7J8K9
        </label>

        <br>

        <label for="working_day">근무 요일:</label>
        <select name="working_day" id="working_day">
            <option value="mon">월</option>
            <option value="tue">화</option>
            <option value="wed">수</option>
            <option value="thr">목</option>
            <option value="fri">금</option>
            <option value="sat">토</option>
            <option value="sun">일</option>
        </select>

        <br>

        <label for="start_time">근무 시작 시간:</label>
        <input type="time" name="start_time" id="start_time" required>

        <br>

        <label for="end_time">근무 종료 시간:</label>
        <input type="time" name="end_time" id="end_time" required>

        <br>

        <input type="submit" value="Add schedule">
    </form>

    <br>

    <table>
        <tr>
            <th>의사 ID</th>
            <th>근무 요일</th>
            <th>근무 시작 시간</th>
            <th>근무 종료 시간</th>
        </tr>
        {% for doctor_schedule in doctor_schedules %}
        <tr>
            <td>{{ doctor_schedule[1] }}</td>
            <td>{{ doctor_schedule[2] }}</td>
            <td>{{ doctor_schedule[3] }}</td>
            <td>{{ doctor_schedule[4] }}</td>
            <td>{{ doctor_schedule[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>