<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Database</title>
</head>
<body>
    <h1>Doctor Database</h1>
    
    <!-- id, name, phonenumber -->
    <form method="POST">
        <input type="text" id="doctor_name" name="doctor_name" required>

        <input type="text" id="doctor_PH" name="doctor_PH" required>

        <input type="submit" value="Add Doctor">
    </form>

    <br>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phonenumber</th>
        </tr>
        {% for doctor in doctors %}
        <tr>
            <td>{{doctor[0]}}</td>
            <td>{{doctor[1]}}</td>
            <td>{{doctor[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>