<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosptial</title>

    <script>
        function goToDoctorSC(){
            window.location.href = "doctor_sc";
        }

        function goToPatientsData(){
            window.location.href = 'patients_dt';
        }
    </script>
</head>
<body>
    <h1>Hosptial appointments</h1>
    <button onclick="goToDoctorSC()">의사 스케쥴 관리</button><br>
    <button onclick="goToPatientsData()">환자 등록</button>
</body>
</html>